{% extends 'layout.html' %}

{% block title %}Студенты{% endblock %}

{% block main %}
    <h1>Просмотр информации по {{ student.id }} студенту</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Id</dt>
        <dd class = "col-sm-10">{{ student.id }}</dd>
        <dt class = "col-sm-2">Имя</dt>
        <dd class = "col-sm-10">{{ student.name }}</dd>
        <dt class = "col-sm-2">Фамилия</dt>
        <dd class = "col-sm-10">{{ student.surname }}</dd>
        <dt class = "col-sm-2">Возраст</dt>
        <dd class = "col-sm-10">{{ student.age }}</dd>
        <dt class = "col-sm-2">Номер группы</dt>
        <dd class = "col-sm-10">{{ student.group_id }}</dd>
    </dl>
{% endblock %}